.CRCCard {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: white;
  padding: 0.2rem 1rem;

}

.CRCCard h6 {
  font-style: italic;
  margin: 0;
}


.CRCCard .sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
