.InputBox {
    border-radius: 6px;
    border: 1px solid rgba(53, 53, 53, 0.247);
    padding: 0.2rem 0.6rem;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
}

form {
    position: relative;
}

input[type="text"] {
    width: 90%;
}

input[type="submit"] {
    position: absolute;
    right: -3px;
    top: 0;
    border: none;
    outline: none;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 0.2rem 0.5rem;
    margin-left: auto;
}